In [106]:
my_name = "jose"
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [107]:
print ('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [108]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [109]:
result = 100/700

In [110]:
result = 104.1234

In [111]:
print('The result was {r:1.2f}'.format(r=result))

The result was 104.12

In [112]:
name = "Jose"

In [113]:
print(f'HelloT his name is {name}')

HelloT his name is Jose

In [114]:
name = "Sam"
age = 3

In [115]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [116]:
my_list = [1,2,3]

In [117]:
my_list = ['STRING' ,100,23.2]

In [118]:
len(my_list)

3

In [119]:
mylist = ['one','two','three']

In [120]:
mylist[0]

'one'

In [121]:
mylist[1:]

['two', 'three']

In [122]:
another_list = ['four','five']

In [123]:
new_list = another_list + mylist

In [124]:
new_list

['four', 'five', 'one', 'two', 'three']

In [125]:
new_list[0] = 'One All Caps'

In [126]:
new_list

['One All Caps', 'five', 'one', 'two', 'three']

In [127]:
new_list.append('Six')

In [128]:
new_list

['One All Caps', 'five', 'one', 'two', 'three', 'Six']

In [129]:
new_list.append('seven')

In [130]:
new_list

['One All Caps', 'five', 'one', 'two', 'three', 'Six', 'seven']

In [131]:
new_list.pop()

'seven'

In [132]:
popped_item = new_list.pop()

In [133]:
popped_item

'Six'

In [134]:
new_list

['One All Caps', 'five', 'one', 'two', 'three']

In [135]:
new_list.pop(-1)

'three'

In [136]:
new_list

['One All Caps', 'five', 'one', 'two']

In [137]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [138]:
new_list.sort()

In [139]:
new_list

['a', 'b', 'c', 'e', 'x']

In [140]:
my_sorted_list = new_list.sort()

In [141]:
type(my_sorted_list)

NoneType

In [142]:
new_list.sort()
my_sorted_list = new_list

In [143]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [144]:
num_list

[4, 1, 8, 3]

In [145]:
num_list.sort()

In [146]:
num_list

[1, 3, 4, 8]

In [147]:
num_list.reverse()

In [148]:
num_list

[8, 4, 3, 1]

In [149]:
num_list.sort()

In [150]:
num_list

[1, 3, 4, 8]

In [151]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [152]:
myfile = open ('myfile.txt')

In [153]:
# myfile = open ('whoops_wrong.txt')

In [154]:
myfile = open('myfile.txt')

In [155]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [156]:
myfile.read()

''

In [157]:
myfile.seek(0)

0

In [158]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [159]:
myfile.close()

In [160]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [161]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

mode = 'r' is read only

mode ='w' is write only (will overwrite file or create new)

mode = 'a' is append only (will add on to file)

mode = 'r+' is reading and writing

mode = 'w+' is writing and reading (overwrites existing files or creates a new file! )

In [166]:
with open ('myfile.txt', mode = 'r+') as myfile:
    contents = myfile.read()

In [181]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [182]:
with open('my_new_file.txt',mode='r') as f :
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [185]:
with open ('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [184]:
with open ('my_new_file.txt', mode = 'a') as f:
    f.write ('\nFOUR ON FOURTH')

In [186]:
with open ('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH